body {
    font-family: Roboto;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    padding-right: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 400;
    margin-left: 100px;
    padding-top: 20px;
}



.top-links {
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: 300;
    color: #E5E7EB;
    padding-top: 20px;
}

.hero-section {
    background-color: #1F2937;
    min-height: 350px;
    color: #F9FAF8;
    display: flex;                  
    align-items: center;            
    justify-content: space-between; 
    padding: 50px 100px;
    padding-left: 0;          
    gap: 20px;                      
}

.hero-text-container {
    max-width: 50%;

}
.hero-image {
    width: 550px;
    height: 300px;
    background-color: grey; 
    border-radius: 8px; 
    flex-shrink: 0;     
}

.hero-text {
    margin-left: 100px;
    max-width: 400px;
    color: #E5E7EB;
    font-weight: 300;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    margin-left: 100px;
    max-width: 400px;
}

.hero-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-left: 100px;
  width: 100px;
  margin-top: 2%;
}

.hero-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.hero-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.hero-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



.feature-section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.feature-title {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 600px;
}

.feature-box {
    display: flex;
    flex-direction: column;
    max-width: 100px;
}

.icon {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    border: solid 3px #3882F6;
}

.feature-text {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}
